@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #7b8d9c 0%, #d7ecea 51%);
    background-image:-webkit-linear-gradient(top, #7b8d9c 0%, #d7ecea 51%);
    background-image:-ms-linear-gradient(top, #7b8d9c 0%, #d7ecea 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #7b8d9c),
        color-stop(0.51, #d7ecea)
    );
    background-attachment:fixed;
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
html, body {
    height:100%;
    box-sizing: border-box;
}
.app {
    width: 80%;
    margin: 1.5em auto;
    text-align: center;
}
.app img {
    display: block;
    max-width: 100%;
    height: auto; 
    padding: 4px;
    line-height: 1.42857143;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 1em 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #6A5CB8;
    border-color: #4e29ea;
}
.btn-success:hover {
    background-color: #4222cb;
    border-color: #4222cb;
}